# Виртуальные окружения
venv/
env/
.venv/
ENV/
virtualenv/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Пип кэш
pip-wheel-metadata/
share/python-wheels/

# Временные файлы
*.swp
*.swo
*~
.DS_Store
.thumbs.db

# Файлы настроек редакторов
.vscode/
.idea/
*.sublime-*

# Логи и дампы
*.log
*.sql
*.sqlite

# Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Прочее
.coverage
htmlcov/
.tox/
.nox/
.mypy_cache/
.pytest_cache/